@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
:root {
    --main-col: #FFF7F1;
    --main-col2: #FFE4C9;
    --main-col3: #E78895;
    --main-col4: #BED1CF;
}
body{
    background-color: var(--main-col2);
    font-family: 'Roboto Condensed';
    border: 0;
    padding: 0;
}
header{
    background-color: var(--main-col3);
    
}
main{
    background-color: var(--main-col4);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    font-size: 50px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-col3);
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    height: 32px;
    margin: 20px;
    font-size: 24px;
}
#button{
    height: 48px;
    font-size: 28px;
    background-color: #767EEB;
    color: white;
    border-radius: 3px;
    border: 0;
}