body{
    padding: 0%;
    margin: 0%;
}
#tlo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(82, 85, 97);
    width: 100%;
    height: 100vh;
    border-radius: 15%;
}
#login{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 42, 55);
    height: 70vh;
    width: 70%;
    color:white;
    border-radius: 10%;
}
input{
    border: 1px black solid;
    height: 200%;
    width: 100%;
    font-size: 200%;
}
label{
    font-size: 150%;
}
#sub{
    padding: 10px;
}
