@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
:root {
	--main-col: #fff7f1;
	--main-col2: #ffe4c9;
	--main-col3: #e78895;
	--main-col4: #bed1cf;
}
#taski {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	flex-direction: column;
}
#formcont {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.taskcontainer {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 90%;
	margin: 5px;
}
#usun {
	width: 10%;
	margin-left: 15px;
}
a {
	text-decoration: none;
}
body {
	background-color: var(--main-col2);
	font-family: "Roboto Condensed";
	margin: 0;
	padding: 0;
}
header {
	background-color: var(--main-col3);
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: 20px;
}
#formmain {
	display: grid;
	grid-template-rows: 1fr 1fr;
}
#login {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
}
#login img {
	height: 100px;
	width: 200px;
}
main {
	background-color: var(--main-col4);
}
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--main-col3);
}
form {
	align-items: center;
	justify-content: center;
}
#formularz {
	display: grid;
	grid-template-columns: 10% 1fr 25% 1fr;
	font-size: 180%;
}
#przycisk {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 3%;
}
#submit {
	height: 48px;
	font-size: 28px;
	color: white;
	background-color: var(--main-col3);
	border-radius: 2px;
	border: none;
}
